body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    text-align: center;
}

nav ul {
  list-style: none; /* Removes the dots/bullets */
  margin: 0;
  padding: 0;
  display: flex;    /* Places the list items in a row */
  gap: 20px;        /* Adds space between items */
}

nav li {
  display: inline;  /* Ensures no line breaks inside */
}

nav a:hover{
    color:red;
}

.imagen-producto {
  width: 400px;
  height: 250px;

}

.tarjeta-producto {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 30px;
}

#form {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 60px;
  width: 100%;
  font-size: 16px;
}

.nosotros {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 60px;
  width: 100%;
  font-size: 24px;
}
